<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel = "stylesheet" href = "css/iframe.css">
</head>

<body>
    <table class ="">
        <thead>
            <tr>
                <th class="cols">사번</th>
                <th class="cols">직원명</th>
                <th class="cols">직급</th>
                <th class="cols">월급</th>
                <th class="cols">성과 급여</th>
                <th class="cols">비고</th>
            </tr>
        </thead>
        <tbody id = "loop-employ-list">
            <% data.forEach(function (elem) { %>
                <tr>
                    <td class = "cell"><%= elem["사번"] %></td>
                    <td class = "cell"><%= elem["직원명"] %></td>
                    <td class = "cell"><%= elem["직급"] %></td>
                    <td class = "cell money"><%= elem["월급"] %></td>
                    <td class = "cell money"><%= elem["성과 급여"] %></td>
                    <td class = "cell"><%= elem["비고"] %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <script>
        window.addEventListener('message', ReceiveMsg);

        function ReceiveMsg(msg) {
            let form = document.createElement('form');
            form.action = '/Search';
            form.method = 'POST';
            form.acceptCharset = "UTF-8";

            let textData = '<input type="hidden" name="page" value="ViewEmployeepage">';
            textData += '<input type="hidden" name="table" value="직원 명단">';
            textData += '<input type="hidden" name="target" value=' + msg.data + '>';
            form.innerHTML = textData;
            document.body.append(form);
            form.submit();
        }

        var length = document.getElementsByClassName('money').length;
        for (var i = 0; i < length; i++) {
            var money = $('.money').eq(i).text();
            var money2 = money.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            $('.money').eq(i).text(money2);
        }
    </script>
</body>
</html>