<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <table border="1">
        <th>날짜</th>
        <th>전체 재무 정보</th>
        <th>판매 수익</th>
        <th>고정 지출 비용</th>
        <th>발주 비용</th>
        <% data.forEach(function (elem) { %>
            <tr>
                <td><%= elem["날짜"] %></td>
                <td><%= elem["전체 재무 정보"] %></td>
                <td><%= elem["판매 수익"] %></td>
                <td><%= elem["고정 지출 비용"] %></td>
                <td><%= elem["발주 비용"] %></td>
            </tr>
        <% }); %>
    </table>
    <script>
        window.addEventListener('message', ReceiveMsg);

        function ReceiveMsg(msg) {
            let form = document.createElement('form');
            form.action = '/Search';
            form.method = 'POST';
            form.acceptCharset = "UTF-8";

            let textData = '<input type="hidden" name="page" value="ViewAllFinancepage">';
            textData += '<input type="hidden" name="table" value="전체 재무">';
            textData += '<input type="hidden" name="target" value=' + msg.data + '>';
            form.innerHTML = textData;
            document.body.append(form);
            form.submit();
        }
    </script>
</body>
</html>