<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <table border="1">
        <th>사번</th>
        <th>직원명</th>
        <th>직급</th>
        <th>월급</th>
        <th>성과 급여</th>
        <th>비고</th>
        <% data.forEach(function (elem) { %>
            <tr>
                <td><%= elem["사번"] %></td>
                <td><%= elem["직원명"] %></td>
                <td><%= elem["직급"] %></td>
                <td><%= elem["월급"] %></td>
                <td><%= elem["성과 급여"] %></td>
                <td><%= elem["비고"] %></td>
            </tr>
        <% }); %>
    </table>
    <script>
        window.addEventListener('message', ReceiveMsg);

        function ReceiveMsg(msg) {
            let form = document.createElement('form');
            form.action = '/Search';
            form.method = 'POST';
            form.acceptCharset = "UTF-8";

            let textData = '<input type="hidden" name="page" value="ViewEmployeepage">';
            textData += '<input type="hidden" name="table" value="직원 명단">';
            textData += '<input type="hidden" name="target" value=' + msg.data + '>';
            form.innerHTML = textData;
            document.body.append(form);
            form.submit();
        }
    </script>
</body>
</html>